<hr>
<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-10">
      <h1></h1>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-2">
      <!--left col-->


      <div class="text-center">
       {{#if userData.image}}
      
        <img style="width: 150px; " src="/uploads/{{userData.image}}" class="avatar img-circle img-thumbnail" >
      {{else}}
      <img style="width: 150px; " src="/images/proPic.png" class="avatar img-circle img-thumbnail" >
      {{/if}}

      </div>
      </hr><br>





      <ul class="list-group">
        <li class="list-group-item text-muted"> Menu <i class="fa fa-dashboard fa-1x"></i></li>
        <li class="list-group-item text-right"> <span class="pull-left"><strong> <a href="/orders"> Orders</a>
            </strong></span> </li>
        <li class="list-group-item text-right"><span class="pull-left"><strong><a href="/account-addresses"> Address</a>
            </strong></span> </li>
        <li class="list-group-item text-right"><span class="pull-left"><strong><a href="account-password-change">Change
                Password </a> </strong></span> </li>
        <li class="list-group-item text-right"><span class="pull-left"><strong><a href=""></a> </strong></span> </li>
      </ul>

      {{!-- <div class="panel panel-default">
        <div class="panel-heading">Social Media</div>
        <div class="panel-body">
          <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i
            class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
        </div>
      </div> --}}

    </div>
    <!--/col-3-->
    <div class="col-sm-6">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Profile</a></li>

      </ul>


      <div class="tab-content">
        <div class="tab-pane active" id="home">

          <form id="form_change_password"  >
            <div class="form-group">

              <div class="col-xs-6">
                <label for="first_name">
                  <h4>Old Password</h4>
                </label>
                <input type="password" class="form-control" onkeyup="return validOldPassowrd()" name="old_password" id="old_password"
  >
                  <span class="text-danger" id="old_passwordSpan" ></span>
              </div>
            </div>



            <div class="form-group">
              <div class="col-xs-6">
                <label for="mobile">
                  <h4>New Password</h4>
                </label>
                <input type="password"  class="form-control" onkeyup="return validPassowrd()" name="password"  id="password" 
               >
                  <span id="passwordSpan" class="text-danger" ></span>
              </div>
            </div>
           

   
            <div>
              <div class="col-xs-12">
                <br>
                <button onclick="return validation()" type="submit" class="btn btn-lg btn-success"> <i
                    class="glyphicon glyphicon-ok-sign"></i>Save</button>

              </div>
            </div>
          </form>



          <!--/tab-pane-->


        </div>
        <!--/tab-content-->

      </div>
      <!--/col-9-->
    </div>
    <div class="col-sm-4">

     
      

    </div>



    <!--/row-->
  </div>
</div>


<script>
  
    $("#form_change_password").submit(function(e) {
        console.log(e)
     e.preventDefault()  // prevent actual form submit
  
  //get submit url [replace url here if desired]
    $.ajax({
         method: "POST",
         url: "/account-password-change",
         data: $("#form_change_password").serialize(), // serializes form input
         success: function(response){
            
            if(response.status){
                  swal("Poof! Password changed successfully", {
                    icon: "success",
                  }).then(()=>{
            
                     location.href='/account'
                  });
            }else{
               swal("Poof! Invalid password", {
                    icon: "error",
                  }).then(()=>{
                    location.reload()
                  })

            }


         }
    });
});


    var errorOldPassword = document.getElementById('old_passwordSpan')
    var errorPassword = document.getElementById('passwordSpan')


  function validOldPassowrd() {
        const name = document.getElementById('old_password').value
        if (name == "") {
            errorOldPassword.innerHTML = "enter a password"
            return false
        }
        if (name.length < 3) {
            errorOldPassword.innerHTML = "password should be more than three characters"
            return false
        }
        errorOldPassword.innerHTML = null
        return true
    }
   

 

    function validPassowrd() {
        const name = document.getElementById('password').value
        if (name == "") {
            errorPassword.innerHTML = "enter a password"
            return false
        }
        if (name.length < 3) {
            errorPassword.innerHTML = "password should be more than three characters"
            return false
        }
        errorPassword.innerHTML = null
        return true
    }
   

    function validation() {
        if (  !validOldPassowrd() && !validPassowrd() ) {
            return false
        }else if( !validOldPassowrd()|| !validPassowrd()){
           return false
        }else{   return true}

    }




</script>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>