
<!-- Start GA -->

<section class="vh-100" style="background-color: #ffffff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row ">                                                   
           <div  class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>  
            <div class="col-md-6 col-lg-7 d-flex align-items-center ">
              <div class="card-body p-lg-2  text-black ">

                <form action="/admin/login" method="post">
 
                  <div class="d-flex align-items-center mb-1 pb-1">
               
                    <span class="h1 fw-bold mb-5">  <img style="width:150px ;" src="/img/logo.png"</span>
                  </div>

                  <h5 class="fw-normal mb-3 p" style="letter-spacing: 1px;">Admin login</h5>

                  <div class="form-outline mb-1">
                    {{#if adminlgnErr}}
                     <span class="text-danger" id="emailSpan" >{{adminlgnErr}}</span>
             {{/if}}

                    <input  style="font-size: 14px;" name="email"  onkeyup="return validEmail()" type="email" id="email" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example17">Email</label>
                  
                  </div>
 
                  <div class="form-outline mb-1">
                           <span id="passwordSpan" class="text-danger"> </span>
                    <input  style="font-size: 14px;"   onkeyup="return validPassowrd()"  type="password" name="password" id="password" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example27">Password</label>
               
                  </div>

                  <div class="pt-1 mb-1">
                    <button class="btn btn-dark btn-lg btn-block" onclick="return validation() " type="submit">Login</button>
                  </div>
 
                  {{!-- <a class="small text-muted" href="/forgot-password">Forgot password?</a>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="/admin"
                      style="color: #393f81;">Register here</a></p> --}}
              
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
    

    var errorEmail = document.getElementById('emailSpan')
    var errorPassword = document.getElementById('passwordSpan')



       function validEmail() {
        const name = document.getElementById('email').value
        if (name == "") {
            errorEmail.innerHTML = "enter you email address"  
            return false


        }
        if (!name.match(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/)) {
            errorEmail.innerHTML = 'enter a proper email adress'
            return false 
        }

        errorEmail.innerHTML = null
        return true
    }
   
      
 

    function validPassowrd() {
        const name = document.getElementById('password').value
        if (name == "") {
            errorPassword.innerHTML = "enter a password"
            return false
        }
        if (name.length < 3) {
            errorPassword.innerHTML = "password should be more than three characters"
            return false
        }
        errorPassword.innerHTML = null
        return true
    }
   

    function validation() {
        if (  !validEmail() && !validPassowrd() ) {
            return false
        }else if( !validEmail()|| !validPassowrd()){
           return false
        }else{   return true}

    }
</script>
{{!-- 
<script>
    

    var errorPhone = document.getElementById('invalid-phone')
    var errorPassword = document.getElementById('invalid-password')



       function validPhone() {
        const name = document.getElementById('phone').value
        if (name == "") {
            errorPhone.innerHTML = "enter your mobile"  
            return false


        }
        if (name.length<10) {
            errorPhone.innerHTML = "Invalid mobile number"  
            return false


        }

        errorPhone.innerHTML = null
        return true
    }
   
      
 

    function validPassowrd() {
        const name = document.getElementById('password').value
        if (name == "") {
            errorPassword.innerHTML = "enter a password"
            return false
        }
        if (name.length < 3) {
            errorPassword.innerHTML = "password should be more than three characters"
            return false
        }
        errorPassword.innerHTML = null
        return true
    }
   

    function validation() {
        if (  !validPhone() && !validPassowrd() ) {
            return false
        }else if( !validPhone()||!validPassowrd()){
           return false
        }else{   return true}

    }
</script> --}}